[2014-07-03 18:54] bwrsandman opened #1 "Launchpad MPs left to review and merge"
- ~~https://code.launchpad.net/~savoirfairelinux-openerp/knowledge-addons/document_multiple_records/+merge/206960~~
- https://code.launchpad.net/~savoirfairelinux-openerp/knowledge-addons/cmis/+merge/212258
  - https://code.launchpad.net/~savoirfairelinux-openerp/knowledge-addons/cmis_read/+merge/212260
  - https://code.launchpad.net/~savoirfairelinux-openerp/knowledge-addons/cmis_write/+merge/213

[2014-07-18 21:54] #1 closed, assigned to nobody

[2014-08-11 09:07] hbrunn opened #12 "master + 8.0"
Could someone with the proper access rights remove the master branch or at least set 8.0 as default?

[2014-08-11 09:10] pedrobaeza commented on #12
Must be someone of https://github.com/orgs/OCA/teams/owners.

[2014-08-11 09:25] gurneyalex commented on #12
done

[2014-08-11 09:25] #12 closed, assigned to nobody

[2014-08-14 10:17] yvaucher opened #14 "Missing labels *needs fixing* and *needs review*"
Read OCA/maintainers-tools#29 to know more about it

[2014-08-14 13:37] #14 closed, assigned to nobody

[2014-11-10 16:23] gborelli opened #23 "document_page and document_page_approval porting"
I'm interested in porting these packages to Odoo 8.0

I saw somebody alerady ported _document_page_ to 8.0 in this fork - https://github.com/savoirfairelinux/knowledge/tree/8.0-document-page

_document_page_ is dependency of these packages:
- _document_page_approval_
- _document_page_multi_company_

I suggested a pull request to the author of the porting that will help to migrate these modules
- h

[2014-11-10 18:42] bwrsandman commented on #23
Hi @gborelli, the commit you mentioned only fixes code style, it is not a port to 8.0.
document_page is not yet ported to 8.0, that work needs to be done first

[2014-11-11 09:20] gborelli commented on #23
I tried that fork of document_page on odoo 8 yesterdary and it works.

@bwrsandman  would you mind to explain me what do you mean with 'porting'?
Do it means using new API or is it enough that a package works with Odoo 8.0?

btw: I'm going to fork this repository -  https://github.com/OCA/knowledge/ - to port it to odoo 8 and to add _document_page_, if you agree

[2014-11-11 09:44] pedrobaeza commented on #23
Hi, Giorgio, migrating to new API is not mandatory, although it is better if you want to do it (shorter code, more possibilities, and a simpler migration to future v9).

Waiting for the PR then! :wink:

Thanks

[2014-11-11 13:12] bwrsandman commented on #23
@gborelli If it works, that's great, you're free to open a pull request, even with the code you referenced.

Porting usually involves firstly, making sure the code works, and using the new API of 8.0.

There will be an automatic test by travis and a review on that code by OCA reviewers. They will point out any possible problems and further assist you.

[2014-11-11 15:21] gborelli commented on #23
document_page pull request - https://github.com/OCA/knowledge/pull/24

[2014-11-12 09:13] gborelli commented on #23
document_page_approval pull request - https://github.com/OCA/knowledge/issues/25

[2014-11-20 10:22] diassynthesis opened #28 "document_page_approval V7.0"
Missing << encoding="UTF-8" >> at line 1 in document_page_view.xml

[2014-11-20 10:54] diassynthesis opened #29 "document_page_wkfl.xml V7.0"
Missing << encoding="utf-8"  >>

[2014-12-30 10:26] jisanchez003 opened #32 "File protocol"
If you add a url using "file" protocol the created link won't work.

[2015-02-17 21:46] max3903 opened #38 "document_page_print_multi"
This module allows you to create a wiki page with the table of content (ordered list of links to other pages) and allow the user to print a PDF with the concatenation of the toc and the pages content (including images, see #39).

[2015-02-17 21:48] max3903 opened #39 "document_page_file"
This module allows you to include attached files in a document page. If the file is an image (jpg or png), the image is displayed within the page.

[2015-04-05 14:26] max3903 opened #47 "Migration to version 8"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-8
# Modules to migrate
- [x] attachment_preview by @hbrunn in #33
- [x] attachments_to_filesystem by @hbrunn in #35
- [x] document_choose_directory by @hbrunn in #36
- [ ] document_multiple_records
- [x] document_page_approval     by @llacroix in #30
- [ ] document_page_multi_company
- [x] document_url by @pedrobaeza in #22

[2015-05-06 09:01] alanljj opened #54 "[8.0] TypeError: function lambda at 0x7f1f2cb562a8 is not JSON serializable"
after installed, when click menu Marketing-MassMailing, the message pop

Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo/openerp/http.py", line 530, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/openerp/http.py", line 581, in dispatch
    return self._json_response(result)
  File "/opt/odoo/openerp/http.py", line 519

[2015-05-06 09:07] pedrobaeza commented on #54
What module have you installed?

[2015-05-08 06:27] alanljj commented on #54
the module of document_page

[2015-07-27 16:11] akram1 commented on #54
Same problem more details as follows:

Error on document_page

Odoo 8 (build 26/7/2015) Ubuntu 14.04, Postgres 9.4.1, werkzeug 0.9.6, Python 2.7.8

On a clean Odoo DB, installing document_page then installing crm_mass_mailing cause marketing manu top menu to stop working and make this error :
  File "/media/akram/Data/projects/servers/Odoo/odoo8/openerp/http.py", line 537, in _handle_exception

[2015-08-19 22:39] ghost opened #60 "Module document_page_approval: URL does not match when website is installed."
The url does not work if website module is installed
http://localhost:8001/#db=test&id=1&view_type=form&model=document.page.history

It needs to be
http://localhost:8001/web#db=test&id=1&view_type=form&model=document.page.history
with /web

[2015-08-31 19:48] mgielissen opened #67 "attachment_preview: ViewerJS empty document"
ViewerJS window doesn't show any pdf attachment.

Java console log shows:
viewerjs_tweaks.js:30 Uncaught TypeError: Cannot set property 'title' of

[2015-09-04 09:39] StefanRijnhart commented on #67
For your info, @hbrunn

[2015-09-05 15:48] #60 closed, assigned to nobody

[2015-09-12 13:34] whoople commented on #54
### Same issue

Uninstallation was seccessful and **Mass Mailing** (Marketing menu)  works now and no issue popup.
Thanks for help

...//   2015-09-12 12:52:27,281 2379 WARNING PROD openerp.addons.document_page.document_page: Trying to access attribute _mail_mass_mailing on document_page_history
2015-09-12 12:52:27,285 2379 ERROR PROD openerp.http: Exception during JSON request handling.
Traceback

[2015-09-12 14:26] whoople commented on #67
Same Issue :+1:
ViewerJS window doesn't show any pdf attachment.
Thanks for help

[2015-09-12 17:59] sysadminmatmoz commented on #67
It works well on fresh databases, the problem seems connected with the existing web/js/web.assets... when updating from the previous version of jsviewer.

[2015-09-16 18:49] ezerouali commented on #67
Seem like error is generated within the javascript file:
viewerjs_tweaks.js

The error is due to a missing argument:
Uncaught TypeError: Cannot set property 'title' of undefined

The tweak may be causing the error:

    <script src="../../src/js/viewerjs_tweaks.js" type="text/javascript" charset="utf-8"></script>

Have you found the solution ?

I'll keep searching myself... just in case

[2015-09-16 19:30] mgielissen commented on #67
Nope

[2015-09-17 04:15] sysadminmatmoz commented on #67
Did you try it on a fresh DB? I can't reproduce your error on a fresh DB. On an existing DB update on the other hand, I just deleted the /web/js/web.assets.backend attachments relative to attachment_preview, cleaned the nginx cache, made a restart and update --all in I managed to make it work there too (but it was time consuming).

[2015-09-30 18:21] max3903 opened #71 "Migration to version 9"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [x] knowledge by @naousse in #75
- [ ] document_page by @naousse in #76
- [ ] document_page_approval by @naousse in #77
- [ ] attachment_preview
- [ ] attachments_to_filesystem
- [ ] document_choose_directory
- [ ] document_no_unique_filenames
- [ ] document_reindex
- [ ] document_url

[2015-10-06 12:55] mgielissen commented on #67
I tried it on a fresh DB, stil the same problem.

[2015-10-14 00:26] pedrobaeza opened #72 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [x] knowledge by @naousse in #75
- [x] document_page by @naousse in #76
- [x] document_page_approval by @naousse in #77
- [x] attachments_to_filesystem
- [x] document_page_multi_company
- [x] document_no_unique_filenames
- [ ] document_choose_directory - By @mohamedhabibchallouf - #107
- [x] docume

[2015-10-14 11:23] nedaszilinskas commented on #67
I have exactly the same issue, on clean DB also.

FIY: works on commit 0a42df9a1807fa3439206e79ff4b22e66a919601

[2015-10-14 12:54] sysadminmatmoz commented on #67
That's related probably to your cache (reverse proxy cache) if you host a fresh DB on the same address where you had a DB with the old module... cleaning the odoo server's proxy cache (and browser cache) at least worked for me

[2015-10-21 19:03] #71 closed, assigned to nobody

[2015-11-03 17:18] #23 closed, assigned to nobody

[2015-11-05 19:51] max3903 commented on #28
This header is for Python files, not XML ones.

[2015-11-05 19:51] #28 closed, assigned to nobody

[2015-11-05 19:56] max3903 commented on #29
Same as #28

[2015-11-05 19:56] #29 closed, assigned to nobody

[2015-11-05 20:01] max3903 commented on #32
@jisanchez003 Do you still expect this bug to be fixed ? Can you provide the version of Odoo and the module name?

[2015-11-05 20:08] max3903 commented on #54
I can't reproduce on the latest version.

[2015-11-10 16:49] ccarly commented on #54
In Marketing&Mass Mailing

[code]

[2015-11-10 17:01] ccarly opened #78 "[8.0] document_page error mass mailing"
When access menu Marketin / Mass Mailing

[code]

[2015-11-17 20:12] hbrunn commented on #67
so the root of the issue is odoo not passing the correct mimetype, which usually is a misconfiguration of the database. #79 fixes this.

[2015-11-19 12:08] mgielissen commented on #67
@hbrunn Your latest commit solves the problem with a existing database. Many thanks!

[2015-11-19 12:58] StefanRijnhart commented on #67
https://github.com/OCA/knowledge/issues/79 is not merged yet. I'm reopening this issue until then. @mgielissen, could you post a thumbs-up on the PR as a review?

[2015-12-09 14:14] dreispt opened #81 "[9.0] TravisCI Transifex build failing"
See https://travis-ci.org/OCA/knowledge/jobs/95794475#L213 :

[code]

[2015-12-09 15:11] max3903 commented on #81
@Ehtaga Can you look into this please ? Project is created on Transifex but there is no resources:
https://www.transifex.com/oca/OCA-knowledge-9-0/content/

[2015-12-09 16:42] Ehtaga commented on #81
Transifex export script only works for versions 7.0 and 8.0.
The Odoo connexion classes have only be implemented for those 2 versions.
Take a look at https://github.com/OCA/maintainer-quality-tools/blob/master/travis/odoo_connection.py

I didn't have time yet to look into version 9.0, maybe it can use the same connexion process as 8.0, so you just need to set the context_mapping:

[code]

Otherwis

[2015-12-09 17:58] pedrobaeza commented on #81
Let's continue this discussion on the general issue in https://github.com/OCA/maintainer-quality-tools/issues/285

[2015-12-09 17:58] #81 closed, assigned to Ehtaga

[2015-12-14 10:21] #67 closed, assigned to hbrunn

[2015-12-30 04:57] alanljj commented on #54
new fresh install today, the problem still there:

Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo/openerp/http.py", line 537, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/openerp/http.py", line 588, in dispatch
    return self._json_response(result)
  File "/opt/odoo/openerp/http.py", line 526, in _json_response

[2016-01-18 17:54] neotekpc commented on #78
Believe this error only shows up with update to python package python-2.7.5-34.el7.x86_64.  With package python-2.7.5-18.el7_1.1.x86_64 the error is not present.  This is of course rpm based Linux installs CentOS, RH.

[2016-01-18 17:57] max3903 commented on #78
Duplicate of #54

[2016-01-18 17:57] #78 closed, assigned to nobody

[2016-01-22 22:38] #54 closed, assigned to max3903

[2016-01-28 17:03] max3903 opened #85 "[9.0] document_page_approval tests failing"
@naousse document_page_approval tests are failing:
https://travis-ci.org/OCA/knowledge/jobs/105433673#L281

Can you look into it please?

[2016-01-29 20:49] #32 closed, assigned to nobody

[2016-01-29 20:52] #47 closed, assigned to nobody

[2016-02-07 00:35] amicalmant opened #86 ""Run me on runbot" link is broken"
module: document_page_approval
version: 9.0

**Steps to reproduce**
- Browse to: https://github.com/OCA/knowledge/tree/9.0/document_page_approval
- Click on the "Run me on runbot" link:

**Current behavior**
The link is broken.

**Expected behavior**
We should be able to run the module demo, shouldn't we?

[2016-02-09 19:42] max3903 commented on #86
@amicalmant Yes, we should. I am working on it.

[2016-02-09 20:46] max3903 commented on #86
Maybe due to https://github.com/OCA/OCB/issues/432

[2016-02-10 08:33] Garamotte commented on #86
This seems to be caused by the removal of the `/login` route : https://github.com/odoo/odoo/commit/afa9f4b

[2016-02-10 08:43] Garamotte commented on #86
The same issue exists on the official Odoo runbot : http://runbot.odoo.com/runbot/1/9.0
The `/login` route still exists on 8.0, and it works : http://runbot.odoo.com/runbot/1/8.0

Runbot was not adapted to this change :
https://github.com/odoo/odoo-extra/blob/d0b43dea1658432290f89878ed82164e2fe893f9/runbot/runbot.py#L1529

[2016-02-15 21:52] max3903 opened #87 "[9.0] document_revision"
# Document Revision

This module extends Odoo DMS by allowing to re-upload documents and store them as a new revision.

The module also allows you to access and download previous revisions of the same document.
# Installation
- No installation required
# Configuration
- No configuration required
# Usage

To use this module, you need to:
- go to Knowledge > Documents
- create and upload a new docum

[2016-02-15 22:03] max3903 opened #88 "[9.0] document_approval"
# Document Approval

This module adds a workflow to approve new document revisions and download the last approved
one by default.
## Installation
- No installation required
## Configuration

To configure this module, you need to:
- set a valid email address on the company settings
- go to Knowledge > Directories
- select a directory
- check the `Requires approval` checkbox
- set the approving grou

[2016-02-15 22:04] max3903 commented on #88
Depends on:
- [ ] document_revision (#87)

[2016-02-15 22:14] max3903 commented on #87
I am not sure about the way to upload a new revision on a Odoo record (second scenario). The pencil icon, in addition to the cross one to delete, may be tricky from a user interface perspective. Any suggestion is welcomed.

[2016-02-15 22:24] pedrobaeza commented on #87
This feature should be also available from the attachments dropdown on each record. A button called "Upload new version" can serve. You can see how to add it in this module: https://github.com/OCA/knowledge/tree/8.0/attachment_preview.

Another for version history would be also good.

[2016-02-15 23:33] ivantodorovich commented on #85
I was just about to file a new issue.

I'm trying to install `document_page_approval` on `8.0`, and I'm getting the following error.

I don't know if it's the same as your are reporting, though.

[code]

[2016-02-15 23:35] ivantodorovich commented on #85
Just noticed you tagged `9.0`. Sorry for that.

[2016-02-19 08:44] dreispt commented on #88
I think Odoo sequences usually begin on 1.

[2016-03-11 16:25] max3903 commented on #87
@pedrobaeza what about displaying a Javascript file manager instead of the list of attachments?

[2016-03-13 12:47] pedrobaeza commented on #87
@max3903, I don't get you what you propose, but let me show you a POC of my idea:

![new_version_poc](https://cloud.githubusercontent.com/assets/7165771/13728728/b589c752-e921-11e5-84d9-2a7145e7ca17.png)

When clicking on the button for uploading new version, a popup will appear with 2 fields: one binary field for uploading the file, and another of type char for entering the version number.

For t

[2016-03-13 12:48] pedrobaeza commented on #87
I'm seeing that this POC lacks the X button for removing the version, but it takes the same principle.

[2016-03-14 15:50] max3903 commented on #87
@pedrobaeza that's what I meant by "tricky from the user interface perspective". Imagine you install many modules adding icons or other stuff in this dropdown list, it will be a mess and the user can easily click the wrong icon. Why not opening a popup with a file manager where we could add many actions?

[2016-03-14 16:02] pedrobaeza commented on #87
I don't think it's a tricky way. It's the most integrated way to do it, and the most intuitive. It's up to the user to keep a reasonable number of icons there or manage a high number of then. If you click on the wrong one, you can always go back. It's the same as if you install all Odoo apps: you will end up with a lot of top level menus.

@hbrunn, your opinion as a good UI developer is welcome he

[2016-03-14 16:20] max3903 commented on #87
@OCA/document-maintainers We need your opinion here.

[2016-03-15 08:54] lmignon commented on #87
IMO, a good solution could be a mix of the 2 ideas. The drop down list should provide a quick access to a document and its versions but the management should be done in a file manager.

[2016-03-15 10:07] pedrobaeza opened #90 "[9.0] Travis error on document_page_approval"
@max3903, can you check the error on Travis about this module?

[2016-03-15 10:26] hbrunn commented on #87
I like @pedrobaeza's proposal a lot. The problem I fear with the original proposal is that it would need a kind of copy on write if I'm correct, which interferes with other modules fiddling with an attachment's content. That could be remedied by only creating a new revision if some context key is set, but I still have the idea an explicit wizard is more helpful here.

For the icon-thing we should

[2016-03-15 10:58] pedrobaeza commented on #90
Sorry, duplicated in https://github.com/OCA/knowledge/issues/85

[2016-03-15 10:58] #90 closed, assigned to nobody

[2016-03-25 20:10] #86 closed, assigned to max3903

[2016-03-26 15:46] #85 closed, assigned to max3903

[2016-03-29 03:41] amicalmant commented on #86
En ce cas-là, à votre place, je supprimerai cette ressource de la page Web
car cela fait un peu désordre:

---

Christian Aubry | COMMUNICATEUR NUMÉRIQUE
Communication Web, gestion de contenu, médias sociaux,
reportage, entrevue, captation vidéo et webdiffusion
www.aubry.org http://christian.aubry.org/ | christian@aubry.org |

## +1-514-501-9368

[image: YouTube] http://youtube.com/user/amicalmant

[2016-04-01 14:38] max3903 commented on #87
What do you think of extending the current Odoo views (mainly kanban and list) to make a file browser?
- in Kanban or list view, opening a directory displays its content (subdirectories and files)
- opening a file open the form view
- we can add as many actions as we want in the Actions dropdown list without losing usability and userfriendliness
- opening the attachments of a record would display

[2016-04-02 13:25] pedrobaeza commented on #87
It's a good idea, but I think this has nothing to do with document revision. It can be a general utility like a file browser, and can act as a widget.

[2016-04-02 13:38] hbrunn commented on #87
yes, a widget for many2one and many2many fields pointing to `ir.attachment` which shows directories and lets the user pick (a) file(s) would be great for many occasions I think

[2016-04-02 14:41] max3903 commented on #87
https://github.com/OCA/web/issues/338

[2016-04-08 20:59] max3903 commented on #88
<script type="text/javascript" src="https://mobbr.com/mobbr-button.js"></script>
<script type="text/javascript">
                                mobbr.button('https://github.com/OCA/knowledge/issues/88', 'EUR', 'large');
                                </script>

[2016-05-11 07:51] fred0716 opened #92 "Document Page Approval - Field `message_follower_ids` does not exist"
[code]

[2016-05-11 18:15] max3903 commented on #92
Hello @fred0716, can you please provide the version of Odoo you are using and the steps to reproduce?

Thanks

[2016-06-03 20:37] luistorresm opened #93 "Error of maximum recursion in category"
1) Steps to reproduce the issue you have observed

1.- Create a new Category with the next values:
name = 'OpenERP Features'

2.- Save the Category, and edit to set the parent_id = Category created in step 1
![category odoo](https://cloud.githubusercontent.com/assets/7606656/15792095/b3c7335e-29a0-11e6-84ab-fc61a2d6807a.png)

2) The result you observed
When I save get `RuntimeError: maximum recurs

[2016-06-04 11:08] max3903 commented on #93
@Luistorresm Thanks for reporting.  I will check this next week.

[2016-06-16 23:22] luistorresm commented on #93
Hello @max3903

You've had an opportunity to review this issue?

Regards

[2016-06-17 13:24] max3903 commented on #93
@luistorresm Not yet. Probably next week.

[2016-07-20 04:19] alanljj opened #96 "odoo 8.0 830fc89 document_page IndexError: list index out of range when open Page"
my odoo version: 8.0 830fc89
I use document_page more than 3 months, create many page and category without any error. From yesterday, when I click the menu of Pages everytime, the error pop out:

Odoo Server Error
Traceback (most recent call last):
  File "/opt/odoo/openerp/http.py", line 543, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/o

[2016-07-20 14:46] max3903 commented on #96
@alanljj Please read https://odoo-community.org/page/bugs and especially step 3.

Thanks

[2016-07-21 02:04] alanljj commented on #96
@max3903 thank you for your guidence, I've updated my report, please help check the problem.

[2016-07-21 14:59] max3903 commented on #96
@alanljj What did you do before yesterday? Did you change anything in your environment?

[2016-07-25 10:12] alanljj commented on #96
@max3903 I didn't update any code for system, just as normal add some pages. Then one of my colleague found this error.

[2016-07-25 14:51] max3903 commented on #96
@alanljj Can you check in your database the name of the last created page? Maybe a special character. It's pretty difficult for me to fix the issue if I can't reproduce it. What did your colleague do before getting the error? Did he create or modify a page? What is the name of the page? What are the modifications?

[2016-07-27 09:25] gurneyalex commented on #86
See https://github.com/odoo/odoo-extra/issues/103

[2016-07-27 09:52] gurneyalex commented on #86
issue fixed on our runbot instance.

[2016-08-02 04:19] alanljj commented on #96
@max3903 I found the final page called "NAP for ABAP", I  deleted it and recreate the same page, the error disapeared, I just use the same content. here is full html code for this page:

<table width="100%" border="1" cellspacing="0" cellpadding="10">
  <tbody>
    <tr bgcolor="#887ddd">
      <td align="center"><p style="align-content:center; font-size:18px; font-style:oblique; color:#ffffff"><st

[2016-08-02 14:23] max3903 commented on #96
@alanljj Shall we close this issue? I understand that the same page name and content works now, right?

[2016-08-10 13:53] #96 closed, assigned to max3903

[2016-08-15 13:05] lucode opened #98 "[9.0] document_url AddUrlDocumentItem' not found"
After installing the module I get the following error whenever I try to go on a list menue:

`Error: QWeb2: Template 'AddUrlDocumentItem' not found`
[error.log.txt](https://github.com/OCA/knowledge/files/418074/error.log.txt)

It could be that the error is caused  by using the United Backend theme? Unfortunately I can't uninstall none of the modules so far.

[2016-08-15 13:39] pedrobaeza commented on #98
Try to restart server and refresh browser.

[2016-08-29 13:05] lucode commented on #98
thanks @pedrobaeza  that did help. The Backend end theme did not hurt.

[2016-08-29 13:06] #98 closed, assigned to nobody

[2016-10-04 13:57] bealdav opened #103 "Help Popup module evolution"
This PR https://github.com/OCA/web/pull/417
propose a way to aggregate help content by model or action

Help popup module
# Pros
- several modules can put their doc content on the same object with the same field
- end users can be see contextual doc of several modules
- end users can add/replace some parts of the doc
- documentation can be aggregated for a whole menu (Sales, Accounting ...) and be

[2016-10-06 12:53] pedrobaeza opened #105 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [ ] document_ocr - By @cmsalmeida - #140
- [x] document_url - By @difusionvisual - #111
- [x] knowledge - By @LeartS - #118
- [x] document_page by @max3903 in #120
- [x] document_page_approval  by @max3903 in #122
- [x] attachment_preview - By @tarteo - #224
- [x] attachments_to_filesystem
- [x] d

[2016-10-11 15:24] max3903 commented on #103
Related issues:
- #38
- #39
- https://github.com/OCA/website/issues/19
- https://github.com/OCA/web/tree/8.0/help_online

As discussed, I propose:
- to use document.page to store content
- your module (web_help in OCA/web) to have a relationship with window action or model and to display it in the backend
- website_help in OCA/website to display it on the website (as a public wiki)

[2016-10-20 00:27] pedrobaeza commented on #93
Is this problem still there?

[2016-10-20 00:28] pedrobaeza commented on #92
As no answer, I close.

[2016-10-20 00:28] #92 closed, assigned to max3903

[2016-10-20 01:04] max3903 commented on #93
Thanks for the reminder.

I have been dragged by a last minute training. I will do my best to answer
this week.

Cheers,

Maxime Chambreuil

[2016-10-21 00:05] max3903 commented on #93
@luistorresm The parent category needs to be different from the current category. Choose another category and it will work.

[2016-10-21 00:22] luistorresm commented on #93
Yes @max3903

But I think that the system must not allow use the same category as parent, to avoid the traceback.

What do you think?

Regards

[2016-10-21 00:55] max3903 commented on #93
@luistorresm I think we need to check that constraint on update. Do you have time to do it?

[2016-10-27 08:44] wim-a opened #109 "Error message when installing module document_page"
module: document_page
version: 9.0

Hello,

I’m trying to install the module document_page on Odoo 9 Enterprise Edition, and I get the following error message.

[code]

Any idea how I can solve this?

Thanks a lot for your help.

Best regards,

Wim

[2016-11-20 05:20] 360org opened #114 "Need help to install on odoo comunity 10"
Hello OCA!
i need little help to install module
i try to install like app on odoo app but when i try to update the list it didn't show up plz help how can i install this module ?

[2016-11-20 12:26] pedrobaeza commented on #114
These modules are not yet migrated to v10.

[2016-11-20 12:43] 360org commented on #114
Hello so when the knowledge release for v10? also im interested about OCA/stock-logistics-\* modules show when it release? anyway to test with these module?

[2016-11-20 15:22] pedrobaeza commented on #114
When someone migrates them. This is something voluntary.

[2016-12-12 04:56] LakshminarayananOKN opened #115 "How to install alfresco in odoo 9"
now, i am using odoo version 9 i want to use alfodoo for odoo 9, i want to know installtion procedure and how to configure, please help me

[2016-12-21 16:16] Auneor opened #117 "Redirect to main page, when accessing document from category"
On a fresh install, after configuring Manage documents and Manage document pages (Wiki)
We create a new page (for exemple page1)
We set a new category to this page (cat1)
We save.
We open page1
We click on the category cat1
Here we click on the Documents tab
We have the document page1, when we click on it, we are redirected to the main page instead of the document

[2016-12-23 08:41] LeartS commented on #105
Porting of knowledge here: https://github.com/OCA/knowledge/pull/118

[2017-01-15 14:03] eugen-don commented on #114
hi i have migrated the most part of document management to v 10... but im stuck at the module document_url... i will be trying to contribute the ported modules in the next few days.

[2017-01-15 15:35] 360org commented on #114
nice thanks @eugen-don so all of them up to date on github?

[2017-01-16 00:45] lasley commented on #114
@W360S - you can follow v10 migration effort by using the dedicated ticket in each repo. This repo's is #105

[2017-01-16 14:01] max3903 commented on #114
@eugen-don Can you comment this issue #105 to let us know which module you migrated and their pull request? Thank you.

[2017-01-16 14:03] max3903 commented on #114
@W360S if you want a date, I suggest you sponsor/hire a community member/developer to migrate the one you want.

[2017-01-16 16:33] lasley commented on #114
@max3903 - Any reason this was reopened? I don't see any action items here other than the need to hire an integrator, which I do not believe should happen via GH ticket.

[2017-01-16 17:02] #114 closed, assigned to nobody

[2017-02-19 14:37] eugen-don commented on #114
hi i found another pr with nearly complete migration of repo knowledge https://github.com/OCA/knowledge/pull/111

since mine isnt as complete as this one, i suggest using the code in the pr. The module is installable (probably i didnt test, mine is though) but as i can tell the mail sending method in document_page_approval wont work.

@max3903 In my own migration im stuck at the javascript part...

[2017-02-20 15:45] max3903 commented on #105
Anyone to review #122? Thank you.

[2017-03-15 19:45] MakMas commented on #105
Hello,

I'm new here, can some one help me with this module?
I'm migrate two weeks ago on the Odoo v.10 and I need module Knowledge on my system.
I'm downloaded module *Knowledge* from this link https://github.com/OCA/knowledge/tree/10.0/document_url and copy to my folder with another modules. When I try to install this module i have many different mistake.....maybe I do something wrong?

[2017-03-15 19:58] max3903 commented on #105
Hello @MakMas

Please create a new issue. This one is used for the migration status.

[2017-03-15 20:05] MakMas commented on #105
Ok, thank you

[2017-03-15 20:06] max3903 commented on #117
Hello @MohammedAuneor

I just tried on runbot and I am redirected to the page1 content. I don't see any problem here.

Please re-open if you think otherwise.

[2017-03-15 20:06] #117 closed, assigned to max3903

[2017-03-15 20:07] MakMas opened #126 "Module Knowledge Odoo v10....need help"
Hello,

I'm new here, can some one help me with this module?
I'm migrate two weeks ago on the Odoo v.10 and I need module Knowledge on my system.
I'm downloaded module Knowledge from this link https://github.com/OCA/knowledge/tree/10.0/document_url and copy to my folder with another modules. When I try to install this module i have many different mistake.....maybe I do something wrong?

Traceback

[2017-03-15 20:09] max3903 commented on #109
Hi @wim-a

Can you try deleting the index mentioned and re-install the module?

[2017-03-15 20:11] max3903 commented on #126
Thanks @MakMas

Are you trying to install knowledge or knowledge_url?

knowledge_url is not migrated yet. You can review it here: #111
knowledge is already migrated and should be working. Otherwise, please copy/paste here the error messages you get.

[2017-03-15 20:16] MakMas commented on #126
I'am try to install: Knowledge Management System

and in Odoo i have this mistake:

Traceback (most recent call last):
  File "/datadrive/odoo/odoo_10/odoo/http.py", line 638, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/datadrive/odoo/odoo_10/odoo/http.py", line 675, in dispatch
    result = self._call_function(**self.params)
  File "/datadrive/od

[2017-03-15 20:51] MakMas commented on #126
Everything good, its my mistake....I'am try to install wrong module.
Thank you very much  for your help!

[2017-03-15 20:55] #126 closed, assigned to max3903

[2017-03-22 13:00] muralikrishnareddy opened #127 "Attachment name s not loading when we attach new file"
In odoo 10 Attachments, when we select a File for File Content, name is get reflected only we save the Record.

[2017-03-28 14:58] hbrunn commented on #39
just for reference: If you install web_ckeditor, you can do this because it embeds an uploaded file as data uri. But creating an attachment on the fly would be better of course

[2017-03-28 15:31] hbrunn commented on #103
I'm busy with `help_popup_document_page`, which should do most of the above

[2017-04-03 11:16] MMstp opened #131 "unported addon attachment_preview"
Hi OCA developers,

I wanted to ask if you are planning to port the addon attachment_preview to version 10.0?
I was very satisfied with this addon in my odoo v8 and I would appreciate it when it's also available for my odoo v10.
Just let me know if & when you plan to release a v10, or if I have to search for an alternative addon.

Thank you in advance,
MM

[2017-04-03 19:18] buby84 opened #132 "Unable to "Enable Manage document pages (Wiki)""
Hello, sorry i am pretty new so it c an be a stupid question, i am tring to install this module on my oddo 10 but when i try to check the "Manage document pages (Wiki)" and save i get redirtect to a page which say:

Odoo Warning - Warning
The one-click installation of Odoo Apps is currently unavailable. Please go to www.odoo.com/apps to download manually.

it look like it isntalling some module fr

[2017-04-05 11:56] wim-a commented on #109
Hello Maxime,

The only way that I could install the module is by changing the file document_page_history.py, and removing "select=True" from the definition of the summary field.

Before doing that, I checked my data base for finding the index document_page_history_summary_index, but I could find this index on the table document_page_history.

When installing it on an new created data base, it wor

[2017-04-05 15:36] max3903 commented on #109
@wim-a Did it work fine after or before removing select=True?

[2017-04-06 06:33] wim-a commented on #109
Maxime,

It worked fine after removing select = True.

Best regards,

Wim

[2017-04-09 15:39] chrischmo opened #133 "knowledge 10.0.1.0.0 does not get loaded under odoo 10.0 community edition"
Hi!

I'm currently checking out odoo 10.0 and have it running under Ubuntu Server 16.04.
I tried to install your 'knowledge' module but had no success - these are my steps so far:

1. Downloaded the zip file for v10.0.1.0.0 from the app store, extracted it to [ODOO-DIR]/addons
2. Gave the resulting [ODOO-DIR]/addons/knowledge directory and its contents the same permissions as the odoo main directo

[2017-04-09 18:54] max3903 commented on #133
Hello @chrischmo

You need to activate the developer mode in Settings and then in Apps, update the module list.

[2017-04-09 19:31] chrischmo commented on #133
Hello @max3903! Thank you for the tip, but I already did this (hence the 'Update Apps' part in my first post - Sorry, should have switched back odoo to English to get the exact menu entry instead of giving the German one).

But I found the solution [here](https://youtu.be/yaPv7i_2gCY?t=2m9s): You need to remove the default "Apps" filter in the app list search box - after doing this the module show

[2017-04-10 01:35] max3903 commented on #133
@chrischmo

The module manifest contains a key named `application` and the value can be true or false.

The `knowledge` module does not provide any feature, only configuration screen, user group, module category and menu items used by other modules in this repo. We don't expect this module to be searched and installed by the user. For example, the user should search and install the app Quality Man

[2017-04-10 18:06] chrischmo commented on #133
@max3903, thank you for your explanation, that makes it clear. I'm currently a little tied up between work and uni, but will try to make the pull request during the weekend.

[2017-04-20 21:25] max3903 commented on #109
@wim-a Your problem seems to be related to your database. Not sure the pull request will really fix this issue. At least, we are not using the obsolete `select` any more...

[2017-04-20 22:19] #109 closed, assigned to max3903

[2017-04-26 14:07] dreispt commented on #133
Looks solved.

[2017-04-26 14:07] #133 closed, assigned to max3903

[2017-05-01 11:19] luc-demeyer opened #135 "PR #129 breaks attachments_to_filesystem"
in this PR the code has been incorrectly moved to the new api:

in models/ir_attachment.py, line 83:

        ir_attachment = self.env['ir.attachment']
        attachment_ids = ir_attachment.search(
            [('db_datas', '!=', False)], limit=limit)

Since it's now the new api, the attachments are returned and no longer the attachment_ids.
The rest of the code still believes that a list of ids

[2017-05-01 13:22] mquandalle commented on #132
Same problem here. Apparently we should be able to opt-in using

[code]

but I still get the “The one-click installation of Odoo Apps is currently unavailable” message after that.

[2017-05-02 06:58] hbrunn commented on #135
@pedrobaeza I won't have time to work on this any time soon, is it a good idea to assign the issue to me then? Probably this will keep other people from picking this up? (generally, I prefer to assign issues to myself as a pledge to work on it some time soon...)

[2017-05-02 07:36] pedrobaeza commented on #135
OK, @hbrunn, I have created a quick patch in #136

[2017-05-04 14:02] dreispt commented on #131
We have an Issue for each migration to keep track of ongoing work.
In this case you should check #72 and #105.

I can see that there is an ongoing migration to 9.0 here: #108
Maybe you can help it to get merged.
Chances are that the effort of moving from 9.0 to 10.0 is small.

[2017-05-04 14:03] #131 closed, assigned to nobody

[2017-05-08 16:56] luc-demeyer commented on #135
The 'quick' fix in PR #136 was a bit too quick and since this module doesn't have unit testing, bugs are not detected: the read still fails because new api read assumes the id in the recordset, not via the [ids] parameter.

I have now created another quick fix (cf. PR #138) on top of PR #136 and I have TESTED this one. Please merge asap because a breaking fix on top of a breaking fix is not good f

[2017-05-09 10:27] hbrunn commented on #135
well, that's why I only work on stuff when I've got time to do it properly. Now I burned most of this week's OCA time for #139 to get this branch back on track. Consider turning on mandatory CI on this repo, I'll do this for 'my' repos as soon as I get permission to do so (cf https://odoo-community.org/groups/contributors-15/contributors-57793).
As the issue itself is fixed, I'll close it. Next ti

[2017-05-09 10:27] #135 closed, assigned to hbrunn

[2017-05-09 13:11] MMstp commented on #131
Ok. Thank you for the reply!
I just have Odoo 10, so I'm not sure if I can help getting it merged to v 9.0, but I will have a look at the tags you sent me. Thanks

[2017-09-13 12:02] ilyasProgrammer opened #145 "error on instalation in ODoo 10"
Empty database. Trying to install knowledge module. Got this:

[code]

[2017-09-13 13:41] max3903 commented on #145
@ilyasProgrammer Seems like the model is not created. Can you try restarting Odoo and installing the module?

[2017-09-13 16:39] rafaelbn commented on #87
Hi @max3903 and all comunity!

How is the state of this developments? Anything to review?
If not, is there any posibility for a crowdfunding?

Let me know please! Thanks

[2017-09-15 07:44] #145 closed, assigned to max3903

[2017-09-15 07:45] ilyasProgrammer commented on #145
Helped pulling clean Odoo from git.

[2017-10-03 14:17] pedrobaeza opened #147 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [ ] attachment_attach_non_editable
- [x] attachment_preview - ~~By @fayezqandeel - #150~~ By @tarteo - #175
- [ ] attachments_to_filesystem
- [ ] document_choose_directory
- [ ] document_multiple_records
- [ ] document_no_unique_filenames
- [x] document_page - ~~By @jalzaga - #157 - By @GavyMG -

[2017-12-18 15:34] fayezqandeel commented on #147
@pedrobaeza I 'm going to start migrating knowledge module

[2017-12-18 16:02] pedrobaeza commented on #147
@fayezqandeel Noted in the main comment

[2017-12-19 14:01] fayezqandeel commented on #147
@pedrobaeza I will work on attachment_preview

[2018-01-14 17:41] ivantodorovich opened #151 "[9.0^][knowledge] Enterprise-like icon"
I've made an enterprise-like icon for this module.
What do you think?

**Please comment any suggestions regarding icon and/or color.**

1:
![knowledge_03](https://user-images.githubusercontent.com/1914185/34918869-028c3930-f939-11e7-944d-78039f662ddb.png)

2:
![knowledge_06](https://user-images.githubusercontent.com/1914185/34918958-a2bb19e8-f93a-11e7-8ab1-9eeee8c8082e.png)

Somehow related to htt

[2018-01-15 13:31] leemannd commented on #151
@ivantodorovich It's a nice idea. I'm more for the second one because:
- It represent best knowlege
- I'm aready using the first one for a specific application developed for a school. So in my mind it represent more school/graduates management than a knowledge application. ;)

[2018-01-15 13:33] pedrobaeza commented on #151
I also like 2. Can you use another color less dark?

[2018-01-15 16:17] ivantodorovich commented on #151
Great, number 2 it is.

@pedrobaeza sure. I picked that color because it's the same color as the Notes app. Somehow thought it was good to have both apps on the same color.

Here are a few more options:

A:
![knowledge_03](https://user-images.githubusercontent.com/1914185/34951858-6aec8aee-f9f6-11e7-8ac4-25a35b210662.png)

B:
![knowledge_05](https://user-images.githubusercontent.com/1914185/349518

[2018-01-15 16:20] pedrobaeza commented on #151
Well, here I don't have special predilection...

[2018-01-15 16:25] ivantodorovich commented on #151
Me neither.
I'll make a PR using 2A, then.

[2018-01-15 17:08] #151 closed, assigned to nobody

[2018-02-22 12:34] pedrobaeza commented on #87
Closing due to inactivity. I know that the idea is still valid, but we have to triage even the ideas.

[2018-02-22 12:34] #87 closed, assigned to max3903

[2018-03-20 08:10] ferdiga commented on #147
please can you describe what are the tasks for the migration of the modules.
I am familiar with 6.1 and 8.0 (old stile)

[2018-03-20 08:26] pedrobaeza commented on #147
See https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0.

[2018-04-01 19:55] jalzaga commented on #147
Migration to version 11.0.  @pedrobaeza  I'm goin to migrate document_page module. It depends on knowledge module, that is already started migration by @fayezqandeel.

[2018-06-04 05:08] SalahAdDin commented on #147
What's about this module? We need it here.

[2018-06-20 02:35] GavyMG commented on #147
@pedrobaeza

I'm migrating document_page_approval.
@jalzaga could you update and continue the document_page migration?

[2018-06-20 06:52] SalahAdDin commented on #147
@cubells There is a missing option menu in `Knowledge` section:
![noesta](https://user-images.githubusercontent.com/5034215/41641970-a2c19164-746f-11e8-806c-085c3c27df04.png)

We can go to options in settings:
![aquiesta](https://user-images.githubusercontent.com/5034215/41641983-ab0f3b82-746f-11e8-9004-59d57c3b4b0b.png)

[2018-06-20 09:24] cubells commented on #147
@SalahAdDin you are right.

Can you review this: https://github.com/OCA/knowledge/pull/172

[2018-07-11 12:16] tarteo commented on #147
https://github.com/OCA/knowledge/pull/175 supersedes https://github.com/OCA/knowledge/pull/150 for attachment_preview.

[2018-07-13 08:00] ghost opened #177 "[11.0] document_page: Print Error"
`Fehler:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/share/odoo/odoo/odoo/addons/base/ir/ir_qweb/qweb.py", line 342, in _compiled_fn
    return compiled(self, append, new, options, log)
  File "<template>", line 1, in template_document_page_report_documentpage_doc_525
  File "<template>", line 2, in body_call_content_524
AttributeError: 'document.page' object has no attribut

[2018-07-13 08:16] pedrobaeza commented on #177
Version?

[2018-07-13 08:26] ghost commented on #177
sorry. 11.0.

[2018-07-13 08:27] pedrobaeza commented on #177
Steps to reproduce? Is reproducible on runbot?

[2018-07-17 09:36] gdgellatly opened #179 "11.0 Issue with menu?"
![documents odoo](https://user-images.githubusercontent.com/5093264/42809287-613b7002-8a09-11e8-89b5-6cf2cb1bd0a6.png)

To my mind shouldn't pages be under document_root?  I'm not sure, I was just testing it and saw it is under the second documents menu.

[2018-07-25 11:37] ghost commented on #177
yes, it is.
http://3333479-11-0-344f5f.runbot2.odoo-community.org/web?debug=1#id=2&view_type=form&model=document.page&menu_id=88&action=106

[2018-07-25 11:37] ghost commented on #177
steps: only try to print document

[2018-09-06 13:13] SalahAdDin commented on #179
@max3903 @gdgellatly I can confirm this problem today:
![deepin-screen-recorder_select area_20180906161228](https://user-images.githubusercontent.com/5034215/45159572-c8440080-b1ef-11e8-8b70-a7cda2cb6c6d.gif)

Can anyone help us with this?

[2018-09-10 09:23] SalahAdDin commented on #179
**Update:**
I fixed this: https://github.com/OCA/knowledge/pull/184
@pedrobaeza can you review it, please?

[2018-09-11 10:02] #179 closed, assigned to max3903

[2018-09-15 15:08] ivantodorovich commented on #147
I'd like to migrate `document_page_multi_company`, but instead of migrating the module I'd like to introduce this feature in `document_page`. Would that be ok?

---

btw, `document_page_approval` migration PR https://github.com/OCA/knowledge/pull/171 is already merged.

Although, both `document_page` and `document_page_approval` are behind `10.0` until these are merged:
- https://github.com/OCA/kn

[2018-09-15 15:09] pedrobaeza commented on #147
I agree

[2018-09-27 00:07] OCA-git-bot opened #190 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] attachment_preview - ~~By @mreficent - #210~~ - By @tarteo - #221
- [x] document_page - By @mreficent - #208
- [x] document_page_approval - By @victormmtorres - #219
- [x] document_page_project - By @mreficent - #209
- [x] document_url - By @ernestotejeda - #212
- [x] knowledge - By @mrefice

[2018-12-11 13:30] SalahAdDin commented on #103
@hbrunn looks great!!!

[2018-12-11 13:32] SalahAdDin opened #195 "[11.0][knowledge]Store attachments in an external DMS does not work"
Hi,

I'm looking this modules and I found a issue here:
![settingskboca](https://user-images.githubusercontent.com/5034215/49803914-4c170700-fd62-11e8-9dce-31add7e95cc0.png)
Clicking in both options does not trigger anything as far I can see.

Why?

[2018-12-11 14:23] pedrobaeza commented on #195
Because that modules are not migrated, but the menus are there by default.

[2018-12-11 14:23] #195 closed, assigned to nobody

[2018-12-23 03:22] b5baxter opened #198 "Document page upgrade formatting issue"
Upgrading document_page from 10.0.1.0.0 to 10.0.2.1.0 results in formatting problems.  All HTML tags show up in text.  Text not formatted:
![screenshot from 2018-12-22 12-08-17](https://user-images.githubusercontent.com/28737283/50380532-dbec6900-061e-11e9-8619-391bb15b4e5b.png)
![screenshot from 2018-12-22 11-46-26](https://user-images.githubusercontent.com/28737283/50380533-dd1d9600-061e-11e9-9b

[2018-12-23 12:55] pedrobaeza commented on #198
On view definition everything seems to be correct:

https://github.com/OCA/knowledge/blob/ba5cc26e94fbb58c36d187be8984a2023a6c92da/document_page/views/document_page.xml#L66

with widget="html".

Have you tried on runbot (https://runbot.odoo-community.org/runbot/repo/github-com-oca-knowledge-118)?

[2019-01-14 16:38] #177 closed, assigned to nobody

[2019-01-29 13:15] nicomacr commented on #93
I've fix this problem in 11.0  #202

[2019-02-26 20:00] carlgrosser opened #203 "attachment_preview error"
Error:
Uncaught Error: QWeb2: Template 'attachment_preview.AttachmentPreviewWidget' not found

Could add full log if needed. python-magic seems to be installed. Maybe I'm overlooking something.

[2019-02-26 20:07] pedrobaeza commented on #203
Version? Please try on runbot (https://runbot.odoo-community.org/runbot/repo/github-com-oca-knowledge-118) to reproduce the problem.

[2019-02-26 20:28] carlgrosser commented on #203
OMG, I'm sorry. Just needed a restart....

[2019-02-26 20:28] #203 closed, assigned to nobody

[2019-04-26 07:56] tbaden commented on #190
document_page https://github.com/OCA/knowledge/pull/208 merged already, but not checked

[2019-06-01 17:25] emagdalenaC2i commented on #190
Please, add to the list attachment_preview - By @mreficent - #210

Please, add to the list document_page_project - By @mreficent - #209

[2019-06-05 15:33] miguelsilvazup opened #216 "Knowledge does not show up in Menu"
After having installed Knowledge, I cannot see it in Odoo 12 menu. How to track this? I am not an advanced user.

[2019-06-05 15:38] pedrobaeza commented on #216
Try to reproduce the problem on runbot. The link to runbot is on README.

[2019-06-05 15:48] miguelsilvazup commented on #216
I cannot, because Knowledge is already functioning in Runbot. There I can see Knowledge in the Menu, but at my Odoo I can't. But I will try again.

[2019-06-05 15:48] #216 closed, assigned to nobody

[2019-08-27 17:37] pedrobaeza commented on #88
Is this still relevant?

[2019-08-27 17:37] pedrobaeza commented on #39
Is this still relevant?

[2019-08-27 17:38] pedrobaeza commented on #38
Is this still relevant?

[2019-08-27 17:38] pedrobaeza commented on #115
This issue tracker is not for asking questions, so closing.

[2019-08-27 17:38] #115 closed, assigned to lmignon

[2019-08-27 17:38] pedrobaeza commented on #127
This is not something of modules on this repo, so closing.

[2019-08-27 17:38] #127 closed, assigned to nobody

[2019-08-27 17:39] pedrobaeza commented on #132
Closing as tri-aged

[2019-08-27 17:39] #132 closed, assigned to nobody

[2019-08-27 17:39] pedrobaeza commented on #198
No answer, so closing.

[2019-08-27 17:39] #198 closed, assigned to nobody

[2019-09-13 21:02] godinperson opened #220 "You try to install module 'document_page_approval' that depends on module 'email_template'. But the latter module is not available in your system."
When I try to install Document Page approval, it gives me that error:
You try to install module 'document_page_approval' that depends on module 'email_template'.
But the latter module is not available in your system.

Odoo 12, Community Edition

Thanks

[2019-09-13 23:22] pedrobaeza commented on #220
You don't have the proper addon included in your path, as the manifest clearly states the dependencies, and it's not that one:

https://github.com/OCA/knowledge/blob/169eebd7f6c8aabc1c87e5037a4292b5351e34e0/document_page_approval/__manifest__.py#L13

[2019-09-13 23:22] #220 closed, assigned to nobody

[2019-09-14 00:23] diassynthesis commented on #220
For odoo 12 you don't need the [email_template](https://github.com/buguelos/odoo/tree/master/addons/email_template) module.
So you are probably trying to install the wrong version of document_page_approval!!!
For v12 download the right version [https://github.com/OCA/knowledge/tree/12.0/document_page_approval](url)

[2019-09-14 01:15] godinperson commented on #220
It's the right version because when I open the manifest, I clearly see mail instead of email_template. I'll check tomorrow. Also, the full quality module are available for v12?

[2019-09-14 01:31] diassynthesis commented on #220
document_page_approval depends on email_template for V7.0 and V8.0 only.
What's wrong ?

[2019-09-14 13:42] godinperson commented on #220
Works this morning. Looks like it was a cache issue.

Thanks guys!

[2019-09-20 08:51] tarteo commented on #190
I'll work on the migration of attachment_preview

[2019-09-20 10:58] tarteo commented on #190
attachment_preview: https://github.com/OCA/knowledge/pull/221

[2019-09-29 21:34] OCA-git-bot opened #223 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [ ] attachment_preview
- [x] document_page - By @ernestotejeda - #228
- [x] document_page_approval - By @flachica - #244
- [x] document_page_project
- [x] document_url - By @manuelcalerosolis / @victoralmau - #243
- [x] knowledge - By @ernestotejeda - #227

Missing module? Check https://github.c

[2019-10-04 10:30] tarteo commented on #105
attachment_preview is done by https://github.com/OCA/knowledge/pull/224

[2019-11-04 20:27] ofrmax opened #226 "Problem installing Knowledge addon on odoo 10"
Hi, I'm trying to instal the knowledge plugin on my odoo 10 but I'm facing a problem during the configuration. I have been able to install the plugin but when I click on the knowledge icon it brings me on the configuration of the plugin. As soon as I click on the apply button odoo bring me back to the main page. When I click again on knowledge it still brings me to the configuration page. Any idea

[2019-11-04 20:33] pedrobaeza commented on #226
There's no more on that module. Install extra modules like `document_page` for having other menus.

[2019-11-04 20:33] #226 closed, assigned to nobody

[2019-12-11 19:43] b5baxter commented on #198
Problem was line 97 (.....page.menu.form view) did not have widget="html"

On 2018-12-23 4:55 a.m., Pedro M. Baeza wrote:

Rob
--
Rob Baxter, MBA
Principal
☀ VREC Solar
778.869.8333 vrec.ca
130 W Broadway, Vancouver, BC
xʷməθkʷəy̓əm (Musqueam), Sḵwx̱wú7mesh (Squamish), and səl̓il̓wətaʔɬ
(Tsleil-Waututh) Territories

[2019-12-31 07:59] SerkanKorkusuz commented on #223
Is there any obvious deadline for the modules 'mgmtsystem_audit' and 'mgmtsystem_hazard' ? Or any progress completed?

[2019-12-31 08:00] SerkanKorkusuz commented on #223
Is there any obvious deadline for the modules 'document_page_approval'? Or any progress completed?

[2019-12-31 12:08] pedrobaeza commented on #223
No if there's no contributor migrating it, which seems the case.

[2020-01-10 13:07] kos94ok-3D opened #235 "[IMP][document_page] Change document page report template"
Main idea print pages grouped by category

Template:
![изображение](https://user-images.githubusercontent.com/33932458/72154593-bb25bb80-33b9-11ea-9d1a-5c3809c6162a.png)
Result on demo:
[Document Page.pdf](https://github.com/OCA/knowledge/files/4045670/Document.Page.pdf)

[Runbot](http://3403232-12-0-2978ea.runbot1-2.odoo-community.org/web?debug=1#action=123&model=document.page&view_type=list&menu

[2020-01-31 13:15] #235 closed, assigned to nobody

[2020-02-11 10:32] kos94ok-3D opened #237 "[document_page] duplicate a document page"
Useless duplication operation because of the missing content field.

[2020-03-18 11:52] flachica commented on #223
I migrate document_page_approval #246

[2020-04-22 23:09] max3903 opened #252 "[RFC] Wiki Roadmap"
# 1.0.0

#249 installed on https://en.odoodoc.org
#250
#251

# 1.1.0

* Page: Provide a table of content at the top of each page
* Menu: Display the tree structure of tags (instead of a flat list)
* Edition: Easy selection of wiki pages when creating internal link
* Search: Allow mixing category and multiple tags

# 1.2.0

* ???

[2020-04-22 23:13] #88 closed, assigned to max3903

[2020-04-22 23:14] #93 closed, assigned to max3903

[2020-05-13 16:38] sanjay-onnet opened #255 "Any plan to migrate this to v13?"

[2020-05-13 17:21] pedrobaeza commented on #255
https://github.com/OCA/knowledge/issues/223

[2020-05-13 17:21] #255 closed, assigned to nobody

[2020-05-18 10:09] CasVissers-360ERP opened #256 "[12.0] Document Page | notification e-mail opens wrong view"
https://drive.google.com/file/d/1aE0ON5HN6FnhjfWFQiu_so_2IsiliI9j/view

When sending a message from a page to a colleague, users are send to the page category view. Shouldn't this be the page view?

@max3903

[2020-07-15 11:19] #237 closed, assigned to nobody

[2020-07-15 11:19] etobella commented on #237
The Issue is solved by the PR

[2020-07-15 11:21] etobella commented on #38
Is this still relevant? @max3903

[2020-07-15 11:21] etobella commented on #39
Is this still relevant? @max3903

[2020-07-15 11:24] etobella commented on #190
All modules have been migrated

[2020-07-15 11:24] #190 closed, assigned to nobody

[2020-07-15 11:25] etobella commented on #103
Is this still relevant? @bealdav

[2020-07-15 12:41] bealdav commented on #103
I never took time to port my initial module. I don't know if it so useful for a large public.

It's the problem with OCA we don't know who use our modules.

[2020-07-15 13:36] max3903 commented on #39
Yes

[2020-07-15 14:04] etobella commented on #39
Ok, are you going to propose some kind of module then?

[2020-07-15 14:08] max3903 commented on #39
Not right now...

[2020-07-18 17:17] sgheller commented on #223
Will attachment_preview be migrated?

[2020-09-09 23:41] sgheller commented on #223
Is there any news on this?

[2020-09-22 11:10] etobella commented on #223
@sgheller As far, no one has started the migration. You can try to migrate it if you want :wink:

[2020-10-04 10:30] OCA-git-bot opened #262 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [x] attachment_preview - By @vancouver29 - #360
- [ ] document_page
- [ ] document_page_approval
- [x] document_page_group - By @Du-ma - #307
- [x] document_page_portal - By @kaynnan - #453
- [x] document_page_project - By @mtelahun - #311
- [x] document_page_reference - By @mtelahun - #312
- [x

[2020-10-27 09:05] fshah-initos commented on #262
Need help for attachment_preview in v14. PR #270

[2020-11-04 12:23] ypapouin opened #266 "[12.0] document_page_reference: iframe youtube video missing from rendering"
@etobella, I didn't take a look on this module code but when you install it, pages that contains links to Youtube videos are not rendered correctly since the iframe tag is no more added to the readonly view.

[2020-11-04 13:33] ypapouin commented on #266
Ok , I found why, content_parsed is an Html field, it should be a Text one to avoid sanitizing.
Preparing a MR

[2020-11-07 17:59] Zephyria77 opened #271 "[12.0] Document_url in a report"
Good morning,
I would ask to community a way to merge a report with a file contained in document_url.

I often use a document_url module to attach to my product a pdf file stored in google drive, so anyone can modify these pdf directly.
I would attach this pdf (stored in google drive) to my report, maybe in a second page
For example it would be useful print a production order report with a second

[2020-11-20 07:38] victoralmau opened #274 "[FIX] document_page_approval: Remove diff in mail"
When a page related to a category that needs approval is created or edited, an email with information from the record `document_page_history` that has been created is sent to the user of the approval group.

I think that `${object.diff | safe}` in the email should be removed by different arguments:

- If the changes contain html (it is quite common) the review by email becomes "impossible".
- If t

[2020-11-20 07:49] pedrobaeza commented on #274
OK for me. I'm not only that reasons, but "digital ecology": sending all that content by mail is a great byte waste.

[2020-12-01 21:44] #256 closed, assigned to nobody

[2020-12-23 04:56] bjoliveau commented on #38
Tested today on V12 CE and okay to print several pages from view list to only one pdf report.
This issue may be closed.

[2020-12-23 04:59] bjoliveau commented on #252
HI @max3903
Maybe you plan anchor in page with "Provide a table", either not, it should be nice to add anchor feature in the same page.

[2020-12-23 05:11] bjoliveau commented on #274
+1

[2020-12-23 07:12] #38 closed, assigned to nobody

[2021-01-11 19:56] Protoneer opened #280 "RUNBOT credentials"
trying to evaluate these modules but I can't log into the runbot website.

Tried...
user : admin
pw: admin

but it says its the wrong password

[2021-01-11 20:02] pedrobaeza commented on #280
Runbot is not working right now and it's redirected to the main instance, so you are trying to login on runbot Odoo.

cc @gurneyalex @sbidoul

[2021-01-12 08:36] gurneyalex commented on #280
The issue should be solved now (a certificate renewal changed a path which caused nginx to not restart on runbot2, breaking the connections running on that server).

[2021-01-12 08:36] #280 closed, assigned to nobody

[2021-01-12 20:12] Protoneer commented on #280
Still not working....

Saying the password is wrong.

Can we confirm that the credentials are:
user : admin
pw: admin

(Using Chrome I cleared my browser cache)

[2021-01-26 18:41] nhomar commented on #262
@luisg123v Will take care of all the rest of modules to be migrated.

[2021-02-17 08:29] dzungtran89 commented on #262
Hi @nhomar, I'm working on modules that depend on `document_page` and `knowledge`, could you please let me know the status of these modules? If you're busy, I would be happy to migrate them.

cc @luisg123v

[2021-02-17 16:15] luisg123v commented on #262
Hi @dzungtran89,

If you have time, go ahead and migrate them, I was planning on migrate them but maybe on a couple of months.

[2021-02-17 21:48] dzungtran89 commented on #262
- `document_page`: migrated in https://github.com/OCA/knowledge/pull/283
- `knowledge`: migrated in https://github.com/OCA/knowledge/pull/282

[2021-04-06 12:50] llabusch93 commented on #262
Hello guys,
will the module "document_url" also be migrated?

[2021-05-22 06:01] saeed-raeisi opened #296 "odoo 14 error -> rec._create_history"
raise ValueError("message_post doesn't support subtype parameter anymore. Please give a valid subtype_id or subtype_xmlid value instead.")

hi
in odoo 14 when create a page
internal reference error

[2021-05-22 07:47] pedrobaeza commented on #296
Which module?

[2021-05-22 07:47] pedrobaeza commented on #296
Doing what?

[2021-07-01 14:05] vancouver29 opened #298 "o_attachment_preview is not found"
Hello everyone,

i am trying to implement this addon **Attachment_Preview** in odoo v13, but it does not work. The method `getPreviewableAttachments` returns an empty array on which the `done` method is called. I figured out that the  `items` variable in the function `getPreviewableAttachments` is empty because the class `.o_attachment_preview` is not found.

Does anyone know wether this class `.o

[2021-07-11 05:39] #296 closed, assigned to nobody

[2021-07-20 08:21] charlineheurtault opened #299 "Error when install"
Hello, i have an error when i import the module in my v13 odoo sh
an idea to help me ?

[code]

[2021-07-20 08:29] pedrobaeza commented on #299
Import module option is just for data modules (website themes), not for this kind of modules. Add it properly to your addons path.

[2021-07-20 08:29] #299 closed, assigned to nobody

[2021-08-14 11:06] AdrienAdB opened #301 "Odoo13: XML Parse error knowledge.xml"
Hello,
I tried to install knowledge on Odoo13.

odoo.tools.convert.ParseError: "Extra content at the end of the document, line 10, column 9" while parsing /var/lib/odoo/.local/share/Odoo/addons/13.0/knowledge/views/knowledge.xml:2

[code]

[2021-08-14 15:35] pedrobaeza commented on #301
The module is working perfectly in runbot: http://3498272-13-0-3eb221.runbot2-2.odoo-community.org/web?debug=1#action=176&model=document.page&view_type=list&cids=&menu_id=111 , so the problem should be in your end. Check your deployment method. This module should be added in addons path, not through import module option.

Closing meanwhile no further evidence or hints about a problem.

[2021-08-14 15:35] #301 closed, assigned to nobody

[2021-08-18 08:07] marcinkuk opened #303 "Changing category remove page content when creating new page"
Steps to reproduce:

1. Create new page
2. Fill the page name
3. Fill the page content
4. Choose category

Result:
Page content disappears

Odoo v12
Knowledge 12.0.1.0.1

[2021-08-31 12:00] ypapouin commented on #262
Please add following modules to the task list:
- [ ] document_url
- [ ] document_page_reference
- [ ] document_page_tag

[2021-10-07 17:49] jaimeramva opened #305 "No field to add url is seen"
module: document_url
version: 13.0

Hello I have installed the module in version 13 but it does not let me see the add url or the wizard to be able to do it, what do I need to activate?

![image](https://user-images.githubusercontent.com/17528457/136437005-ce9dd06e-45b8-4335-bcec-65b2372c3e40.png)

[2021-10-07 17:54] pedrobaeza commented on #305
Please follow the link on the README called "Runbot | Try me" and test if it's working there. If it's, then it seems you haven't installed properly the module.

[2021-10-13 13:32] Du-ma commented on #262
`document_page_group` over here #307

[2021-10-17 10:16] OCA-git-bot opened #308 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [x] attachment_preview - By @vancouver29 - #363
- [x] attachment_zipped_download - By @victoralmau - #473
- [x] document_page - By @jacob88 - #320
- [x] document_page_access_group - By @Tisho99 - #469
- [x] document_page_approval - By @victoralmau - #357
- [ ] document_page_group
- [x] document_

[2021-10-29 02:20] jacob88 commented on #308
I'll migrate, "document_page" and "knowledge".

[2021-10-29 02:49] jacob88 commented on #308
Migration PR up for "knowledge".
https://github.com/OCA/knowledge/pull/309

[2021-11-03 18:50] certinet commented on #308
Following and can help testing. I was able to install knowledge on 15. On installing document_page, I get:

RPC_ERROR
Odoo Server Error
Traceback (most recent call last):
  File "C:\Odoo\server\odoo\tools\cache.py", line 85, in lookup
    r = d[key]
  File "C:\Odoo\server\odoo\tools\func.py", line 71, in wrapper
    return func(self, *args, **kwargs)
  File "C:\Odoo\server\odoo\tools\lru.py", line

[2021-11-04 11:39] jacob88 commented on #308
@certinet I've got another branch up, ready to submit a PR for "document_page".
https://github.com/jacob88/knowledge/tree/15.0-mig-document_page

Just waiting on the first PR to be approved.
Seems like this might take a while as the OCA RunBot does not appear to be functional for Odoo v15 builds yet, looks like they're all failing.

There were a bunch of breaking changes with Odoo v15, such as the

[2021-12-17 13:50] legalsylvain opened #316 "[V16] knowledge is back"
For your information, Odoo is reintroducing a module named ``knowledge`` here

https://github.com/odoo/odoo/pull/81158

Don't know if it cover the same scope as before in V8 (https://github.com/odoo/odoo/tree/8.0/addons/knowledge)
but it will requires some adaptation with the current V15 OCA module.

kind regards.

[2021-12-17 15:19] marcelsavegnago commented on #316
Starting with the name change :D knowledge_oca

[2021-12-22 17:14] flotho opened #317 "Open Question regarding Knowledge and DMS"
Hi,

I woulld like to know if OCA/Knowledge and OCA/DMS and probably OCA/Storage could have some duplicate functions ?
As far AS I can See the DMS module is really awesome for managing document and Konwledge is not so efficient on this part
Won't it be a good Idea to use DMS when checking here : https://github.com/OCA/knowledge/blob/13.0/knowledge/models/res_config.py#L16

Maybe more bridges could

[2021-12-22 17:18] pedrobaeza commented on #317
`knowledge` module per se does nothing. The most valuable module belonging to that category is `document_page`. That one vs DMS differences are:

- document_page is for texts - and more important, for texts included in own Odoo - visualization and edition.
- DMS is for files, of any kind, and with no easy visualization of texts right now (and obviously not edition).

I don't know storage.

[2021-12-22 17:28] flotho commented on #317
Thanks for this confirmation,
So my idea is to propose to replace/imporve the behaviour of this option https://github.com/OCA/knowledge/blob/13.0/knowledge/models/res_config.py#L16 to install DMS
Would it make sense to you I I propose a PR on this direction ?

[2021-12-22 17:38] pedrobaeza commented on #317
No, in fact, I would remove such options. They are very wrong. They make sense when the full pack is provided, like in Odoo S.A., but in a module per module migration, to provide an empty module that installs other modules that are not yet migrated (or that they ever won't be migrated), is not correct.

[2021-12-22 17:42] flotho commented on #317
Sorry to reformulate,

if I understand you correctly :
* My proposal make no sense regarding the fact that both repo are independent and mostly not available in the same versions
* You even suggest to delete the option to manage document in this knowledge module in order to be more consistent

Am I right ?

[2021-12-22 17:46] pedrobaeza commented on #317
Yes, but in general I consider that there shouldn't be any kind of such res.config.settings entries for installing other modules inside OCA, being from the same repository or from others. In fact, I hate this feature in general from Odoo, as users click everywhere on the settings without advertising that they are installing modules. Maybe it's done on purpose by Odoo?

[2021-12-22 17:47] flotho commented on #317
huummm I understand,
So if I propose a PR for deleting the actual behaviour of knowledge module the add only groups and menu will it make sense to you ?

[2021-12-22 17:49] pedrobaeza commented on #317
Other users appreciate such feature, like @max3903, but I will accept to not have them.

[2021-12-22 17:53] flotho commented on #317
IMHO this is a great feature but the DMS module in v12 and more is much more efficient .
Adding a tip in the res config view to explain that DMS repo is a better solution could help.
Could it be Ok for you and @max3903

[2021-12-22 17:56] pedrobaeza commented on #317
I prefer to have all of those explanations on the modules READMEs, not polluting setting screens.

[2021-12-24 11:45] jacob88 commented on #308
Migration PR up for "document_page".
https://github.com/OCA/knowledge/pull/320

[2021-12-24 13:03] flotho commented on #266
this one could be closed if the PR is merged ?

[2021-12-24 13:05] flotho commented on #274
@victoralmau any PR associated to this ?

[2021-12-24 13:06] pedrobaeza commented on #274
Done in #292

[2021-12-24 13:06] #274 closed, assigned to nobody

[2022-01-18 16:35] MiquelRForgeFlow opened #322 "[14.0] document_url: Error when activating 'Dev mode with assets'"
## document_url
Module with the bug.

## Bug

![image](https://user-images.githubusercontent.com/25005517/149978643-13c5599b-cb4b-427f-acbd-6999076721a2.png)

![Selection_157](https://user-images.githubusercontent.com/25005517/149978614-002aee30-fde7-4f3a-bf01-354c06aec793.png)

## To Reproduce
**Affected versions**: 14.0

Steps to reproduce the behavior:

Go to settings, and active 'Dev mode with

[2022-01-20 13:10] victoralmau commented on #322
Hi Miquel, thanks for explaining about the error.
I have created https://github.com/OCA/knowledge/pull/323 to solve it, can you check it?

[2022-01-20 19:47] #322 closed, assigned to victoralmau

[2022-03-30 17:34] JoelZilli commented on #308
I'll migrate "document_url".

[2022-04-01 18:20] JoelZilli commented on #308
Migration PR up for "document_url"
[#334](https://github.com/OCA/knowledge/pull/334)

[2022-04-02 09:21] badbole opened #335 "Usability question - document page in module with pictures included"
Hello community.
Document page module is wery interesting and usable ...
I mostly use it to describe workflow process and leave it as instructions for users.
So i created a module with some pages and they install and update fine ,
But what i lack is to include picture in text.

so ... in module i create an xml file containing document page like:

[code]

When creating document from web interface,

[2022-05-10 10:33] AlbertoEstep opened #347 "Conflict with board: when installing attachment_previe module, board module doesn't work."
Hi!

If I install the attachment_preview module, then the board module doesn't work.

Specifically, the boards in board.board of graph views are no longer displayed.

**Affected versions**: 11

Steps to reproduce the behavior:
1. Install board
2. Install attachment_preview
3. Save a graph_view to my board

![Captura de pantalla de 2022-05-10 12-26-25](https://user-images.githubusercontent.com/2308

[2022-05-13 14:00] HaraldPanten commented on #316
THX for reporting!

[2022-05-13 15:21] pedrobaeza commented on #316
It has been merged: https://github.com/odoo/odoo/commit/42a3b704f7c7889a74338253138d0201d3b6e7a3

[2022-05-13 15:54] rafaelbn commented on #316
It looks more like Notion than v8 version ❤️

![image_225c59e3-a924-426b-ab01-eec9d9df906d20220513_142619](https://user-images.githubusercontent.com/8736623/168321291-d453ad66-46e9-4dfa-ba0d-1f9463f50082.jpg)

[2022-06-23 08:28] moh-Rahman opened #354 "Document Page Tag"
When install
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo14/odoo/odoo/tools/convert.py", line 677, in _tag_root
    f(rec)
  File "/opt/odoo14/odoo/odoo/tools/convert.py", line 580, in _tag_record
    record = model._load_records([data], self.mode == 'update')
  File "/opt/odoo14/odoo/odoo/models.py", line 4220, in _load_records
    records = self._load_records_cr

[2022-06-28 14:13] nicomacr commented on #308
The migration of "document_url" is #353

[2022-07-15 09:29] manuelregidor opened #356 "document_page: menu item creating improvement"
@etobella @ValentinVinagre @HaraldPanten

We have identified an issue related to the creation of menu items for document pages that we would like to remark. At the moment, the menu item is created through a wizard located at the action menu and we do not find it very intuitive. That is why we would like to propose and improvement.

Our idea would be to have a new tab on the page configuration view

[2022-08-02 07:41] #298 closed, assigned to nobody

[2022-08-14 14:48] #103 closed, assigned to nobody

[2022-08-23 13:11] martinGerez opened #362 "Knowledge doesn't appear on main menu - Odoo v15 - on-premise"
PLEASE CLOSE  THIS - WAS MY FAULT - SORRY

[2022-08-30 15:19] #362 closed, assigned to nobody

[2022-09-02 19:26] poVoq opened #364 "Markdown parser?"
A simple Markdown parser and basic editing tools would be nice for the wiki pages.

Thanks!

[2022-09-18 12:36] #39 closed, assigned to nobody

[2022-09-18 12:36] #72 closed, assigned to nobody

[2022-09-18 12:36] #105 closed, assigned to nobody

[2022-09-25 12:37] #147 closed, assigned to nobody

[2022-09-25 12:37] #223 closed, assigned to nobody

[2022-10-03 16:22] sbidoul opened #366 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [ ] attachment_preview - By @houzefa-abba - #434
- [x] attachment_zipped_download - By @FernandoRomera - #391
- [x] document_page - By @etobella - #382
- [x] document_page_access_group - By @Tisho99 - #470
- [x] document_page_approval - By @FernandoRomera - #388
- [x] document_page_group - By @F

[2022-10-19 07:54] HarhuTechnologies commented on #366
Hi @sbidoul : I want raise a PR against these modules. I have already migrated. Can you please help me how can I create a PR against this issue? @pedrobaeza

[2022-10-19 07:55] pedrobaeza commented on #366
Do the pull request, and someone will link through the bot command the PR in this issue. Please follow the migration guide for proper migration mechanism.

[2022-10-19 07:56] pedrobaeza commented on #366
Another thing: `knowledge` must be renamed to `knowledge_oca` or similar for not collapsing with Odoo new enterprise module.

[2022-10-19 07:57] HarhuTechnologies commented on #366
alright @pedrobaeza : Thanks for letting me know. I will create PR.

[2022-10-30 12:37] #252 closed, assigned to max3903

[2022-11-06 12:34] #266 closed, assigned to nobody

[2022-11-06 12:34] #271 closed, assigned to nobody

[2022-11-13 17:04] #316 closed, assigned to nobody

[2022-11-20 12:32] #303 closed, assigned to nobody

[2022-11-27 12:29] #305 closed, assigned to nobody

[2022-11-27 12:29] #317 closed, assigned to nobody

[2022-11-28 17:31] gabriel-grinspan opened #379 "UserWarning: Field document.page.group_ids should be declared with recursive=True"
## Module
The name of the module that has a bug.
document_page_group

## Describe the bug
A clear and concise description of what the bug is.
Upon restarting Odoo with document_page_group installed, the following error (or similar) shows up in the logs. The error occurs regularly while Odoo is running:
[code]

## To Reproduce
**Affected versions**: 15.0

Steps to reproduce the behavior:
1. Restart

[2022-11-28 17:40] gabriel-grinspan commented on #379
Please see my solution at https://github.com/OCA/knowledge/pull/380

[2022-11-28 18:19] pedrobaeza commented on #379
No need to open an issue when a PR is going to be done. The issue can be put in the PR itself. Closing in favor of #380

[2022-11-28 18:19] #379 closed, assigned to nobody